<h1>Listing Jobs</h1>



<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Jobtitle</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.company_name %></td>
        <td><%= job.jobtitle %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @jobs, :style => 'color:blue' %>
<br>

